<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

  <!-- Crea la matrice identità NxN Dynamixel -->
  <xacro:macro name="identity_matrix_csv" params="n">
    ${', '.join([
      '1' if i == j else '0'
      for i in python.range(int(n))
      for j in python.range(int(n))
    ])}
  </xacro:macro>

  <xacro:macro name="rakuda_ros2_control_settings" params="dof">

    <ros2_control name="DynamixelTorsoHeadSystem" type="system">

      <hardware>
        <plugin>dynamixel_hardware_interface/DynamixelHardware</plugin>

        <param name="port_name">/dev/ttyU2D2</param>
        <param name="baud_rate">2000000</param>
        <param name="error_timeout_ms">500</param>

        <param name="dynamixel_model_folder">/param/dxl_model</param>

        <param name="number_of_joints">${dof}</param>
        <param name="number_of_transmissions">${dof}</param>

        <param name="transmission_to_joint_matrix"><xacro:identity_matrix_csv n="${dof}"/></param>
        <param name="joint_to_transmission_matrix"><xacro:identity_matrix_csv n="${dof}"/></param>


        <param name="disable_torque_at_init">true</param>


        <param name="dynamixel_state_pub_msg_name">dynamixel_hardware_interface/dxl_state</param>
        <param name="get_dynamixel_data_srv_name">dynamixel_hardware_interface/get_dxl_data</param>
        <param name="set_dynamixel_data_srv_name">dynamixel_hardware_interface/set_dxl_data</param>
        <param name="reboot_dxl_srv_name">dynamixel_hardware_interface/reboot_dxl</param>
        <param name="set_dxl_torque_srv_name">dynamixel_hardware_interface/set_dxl_torque</param>
      </hardware>

      <joint name="waist_yaw_joint">
        <command_interface name="position"/>
        <state_interface name="position"/>
        <state_interface name="velocity"/>
        <state_interface name="effort"/>
      </joint>

      <joint name="neck_yaw_joint">
        <command_interface name="position"/>
        <state_interface name="position"/>
        <state_interface name="velocity"/>
        <state_interface name="effort"/>
      </joint>

      <joint name="neck_pitch_joint">
        <command_interface name="position"/>
        <state_interface name="position"/>
        <state_interface name="velocity"/>
        <state_interface name="effort"/>
      </joint>

      <joint name="l_arm_joint1">
        <state_interface name="position"/>
        <state_interface name="velocity"/>
        <state_interface name="effort"/>
      </joint>

      <joint name="l_arm_joint2">
        <state_interface name="position"/>
        <state_interface name="velocity"/>
        <state_interface name="effort"/>
      </joint>

      <joint name="l_arm_joint3">
        <state_interface name="position"/>
        <state_interface name="velocity"/>
        <state_interface name="effort"/>
      </joint>

      <joint name="l_arm_joint4">
        <state_interface name="position"/>
        <state_interface name="velocity"/>
        <state_interface name="effort"/>
      </joint>

      <joint name="l_arm_joint5">
        <state_interface name="position"/>
        <state_interface name="velocity"/>
        <state_interface name="effort"/>
      </joint>

      <joint name="l_arm_joint6">
        <state_interface name="position"/>
        <state_interface name="velocity"/>
        <state_interface name="effort"/>
      </joint>

      <joint name="l_gripper_joint">
        <state_interface name="position"/>
        <state_interface name="velocity"/>
        <state_interface name="effort"/>
      </joint>

      <joint name="r_arm_joint1">
        <state_interface name="position"/>
        <state_interface name="velocity"/>
        <state_interface name="effort"/>
      </joint>

      <joint name="r_arm_joint2">
        <state_interface name="position"/>
        <state_interface name="velocity"/>
        <state_interface name="effort"/>
      </joint>

      <joint name="r_arm_joint3">
        <state_interface name="position"/>
        <state_interface name="velocity"/>
        <state_interface name="effort"/>
      </joint>

      <joint name="r_arm_joint4">
        <state_interface name="position"/>
        <state_interface name="velocity"/>
        <state_interface name="effort"/>
      </joint>

      <joint name="r_arm_joint5">
        <state_interface name="position"/>
        <state_interface name="velocity"/>
        <state_interface name="effort"/>
      </joint>

      <joint name="r_arm_joint6">
        <state_interface name="position"/>
        <state_interface name="velocity"/>
        <state_interface name="effort"/>
      </joint>

      <joint name="r_gripper_joint">
        <state_interface name="position"/>
        <state_interface name="velocity"/>
        <state_interface name="effort"/>
      </joint>


<!--TORSO -->

      <gpio name="dxl1">
        <param name="type">dxl</param>
        <param name="ID">1</param>
        <command_interface name="Goal Position"/>
        <state_interface name="Present Position"/>
        <state_interface name="Present Velocity"/>
        <!--<state_interface name="Present Current"/> -->
        <param name="Operating Mode">3</param>
        <param name="Profile Velocity">40</param>
        <param name="Profile Acceleration">20</param>
        <param name="Position P Gain">800</param>
        <param name="Position I Gain">100</param>
        <param name="Position D Gain">100</param>
        <param name="Return Delay Time">0</param>
        <param name="Drive Mode">0</param>
      </gpio>


<!--HEAD -->

      <gpio name="dxl2">
        <param name="type">dxl</param>
        <param name="ID">2</param>
        <command_interface name="Goal Position"/>
        <state_interface name="Present Position"/>
        <state_interface name="Present Velocity"/>
        <!--<state_interface name="Present Current"/> -->
        <param name="Operating Mode">3</param>
        <param name="Profile Velocity">360</param>
        <param name="Profile Acceleration">180</param>
        <param name="Position P Gain">800</param>
        <param name="Position I Gain">100</param>
        <param name="Position D Gain">100</param>
        <param name="Return Delay Time">0</param>
        <param name="Drive Mode">0</param>
      </gpio>

      <gpio name="dxl3">
        <param name="type">dxl</param>
        <param name="ID">3</param>
        <command_interface name="Goal Position"/>
        <state_interface name="Present Position"/>
        <state_interface name="Present Velocity"/>
        <!--<state_interface name="Present Current"/> -->
        <param name="Operating Mode">3</param>
        <param name="Profile Velocity">360</param>
        <param name="Profile Acceleration">180</param>
        <param name="Position P Gain">800</param>
        <param name="Position I Gain">100</param>
        <param name="Position D Gain">100</param>
        <param name="Return Delay Time">0</param>
        <param name="Drive Mode">1</param>
      </gpio>


<!--LEFT ARM -->

      <gpio name="dxl11">
        <param name="type">dxl</param>
        <param name="ID">11</param>
        <state_interface name="Present Position"/>
        <state_interface name="Present Velocity"/>
        <!--<state_interface name="Present Current"/> -->
        <param name="Operating Mode">3</param>
        <param name="Profile Velocity">40</param>
        <param name="Profile Acceleration">20</param>
        <param name="Position P Gain">800</param>
        <param name="Position I Gain">100</param>
        <param name="Position D Gain">100</param>
        <param name="Return Delay Time">0</param>
        <param name="Drive Mode">0</param>
      </gpio>

      <gpio name="dxl12">
        <param name="type">dxl</param>
        <param name="ID">12</param>
        <state_interface name="Present Position"/>
        <state_interface name="Present Velocity"/>
        <!--<state_interface name="Present Current"/> -->
        <param name="Operating Mode">3</param>
        <param name="Profile Velocity">40</param>
        <param name="Profile Acceleration">20</param>
        <param name="Position P Gain">800</param>
        <param name="Position I Gain">100</param>
        <param name="Position D Gain">100</param>
        <param name="Return Delay Time">0</param>
        <param name="Drive Mode">1</param>
      </gpio>

      <gpio name="dxl13">
        <param name="type">dxl</param>
        <param name="ID">13</param>
        <state_interface name="Present Position"/>
        <state_interface name="Present Velocity"/>
        <!--<state_interface name="Present Current"/> -->
        <param name="Operating Mode">3</param>
        <param name="Profile Velocity">40</param>
        <param name="Profile Acceleration">20</param>
        <param name="Position P Gain">800</param>
        <param name="Position I Gain">100</param>
        <param name="Position D Gain">100</param>
        <param name="Return Delay Time">0</param>
        <param name="Drive Mode">0</param>
      </gpio>

      <gpio name="dxl14">
        <param name="type">dxl</param>
        <param name="ID">14</param>
        <state_interface name="Present Position"/>
        <state_interface name="Present Velocity"/>
        <!--<state_interface name="Present Current"/> -->
        <param name="Operating Mode">3</param>
        <param name="Profile Velocity">40</param>
        <param name="Profile Acceleration">20</param>
        <param name="Position P Gain">800</param>
        <param name="Position I Gain">100</param>
        <param name="Position D Gain">100</param>
        <param name="Return Delay Time">0</param>
        <param name="Drive Mode">0</param>
      </gpio>

      <gpio name="dxl15">
        <param name="type">dxl</param>
        <param name="ID">15</param>
        <state_interface name="Present Position"/>
        <state_interface name="Present Velocity"/>
        <!--<state_interface name="Present Current"/> -->
        <param name="Operating Mode">3</param>
        <param name="Profile Velocity">40</param>
        <param name="Profile Acceleration">20</param>
        <param name="Position P Gain">800</param>
        <param name="Position I Gain">100</param>
        <param name="Position D Gain">100</param>
        <param name="Return Delay Time">0</param>
        <param name="Drive Mode">0</param>
      </gpio>

      <gpio name="dxl16">
        <param name="type">dxl</param>
        <param name="ID">16</param>
        <state_interface name="Present Position"/>
        <state_interface name="Present Velocity"/>
        <!--<state_interface name="Present Current"/> -->
        <param name="Operating Mode">3</param>
        <param name="Profile Velocity">40</param>
        <param name="Profile Acceleration">20</param>
        <param name="Position P Gain">800</param>
        <param name="Position I Gain">100</param>
        <param name="Position D Gain">100</param>
        <param name="Return Delay Time">0</param>
        <param name="Drive Mode">0</param>
      </gpio>

      <gpio name="dxl17">
        <param name="type">dxl</param>
        <param name="ID">17</param>
        <state_interface name="Present Position"/>
        <state_interface name="Present Velocity"/>
        <!--<state_interface name="Present Current"/> -->
        <param name="Operating Mode">3</param>
        <param name="Profile Velocity">40</param>
        <param name="Profile Acceleration">20</param>
        <param name="Position P Gain">800</param>
        <param name="Position I Gain">100</param>
        <param name="Position D Gain">100</param>
        <param name="Return Delay Time">0</param>
        <param name="Drive Mode">0</param>
      </gpio>



<!--RIGHT ARM -->

      <gpio name="dxl21">
        <param name="type">dxl</param>
        <param name="ID">21</param>
        <state_interface name="Present Position"/>
        <state_interface name="Present Velocity"/>
        <!--<state_interface name="Present Current"/> -->
        <param name="Operating Mode">3</param>
        <param name="Profile Velocity">40</param>
        <param name="Profile Acceleration">20</param>
        <param name="Position P Gain">800</param>
        <param name="Position I Gain">100</param>
        <param name="Position D Gain">100</param>
        <param name="Return Delay Time">0</param>
        <param name="Drive Mode">0</param>
      </gpio>

      <gpio name="dxl22">
        <param name="type">dxl</param>
        <param name="ID">22</param>
        <state_interface name="Present Position"/>
        <state_interface name="Present Velocity"/>
        <!--<state_interface name="Present Current"/> -->
        <param name="Operating Mode">3</param>
        <param name="Profile Velocity">40</param>
        <param name="Profile Acceleration">20</param>
        <param name="Position P Gain">800</param>
        <param name="Position I Gain">100</param>
        <param name="Position D Gain">100</param>
        <param name="Return Delay Time">0</param>
        <param name="Drive Mode">1</param>
      </gpio>

      <gpio name="dxl23">
        <param name="type">dxl</param>
        <param name="ID">23</param>
        <state_interface name="Present Position"/>
        <state_interface name="Present Velocity"/>
        <!--<state_interface name="Present Current"/> -->
        <param name="Operating Mode">3</param>
        <param name="Profile Velocity">40</param>
        <param name="Profile Acceleration">20</param>
        <param name="Position P Gain">800</param>
        <param name="Position I Gain">100</param>
        <param name="Position D Gain">100</param>
        <param name="Return Delay Time">0</param>
        <param name="Drive Mode">0</param>
      </gpio>

      <gpio name="dxl24">
        <param name="type">dxl</param>
        <param name="ID">24</param>
        <state_interface name="Present Position"/>
        <state_interface name="Present Velocity"/>
        <!--<state_interface name="Present Current"/> -->
        <param name="Operating Mode">3</param>
        <param name="Profile Velocity">40</param>
        <param name="Profile Acceleration">20</param>
        <param name="Position P Gain">800</param>
        <param name="Position I Gain">100</param>
        <param name="Position D Gain">100</param>
        <param name="Return Delay Time">0</param>
        <param name="Drive Mode">0</param>
      </gpio>

      <gpio name="dxl25">
        <param name="type">dxl</param>
        <param name="ID">25</param>
        <state_interface name="Present Position"/>
        <state_interface name="Present Velocity"/>
        <!--<state_interface name="Present Current"/> -->
        <param name="Operating Mode">3</param>
        <param name="Profile Velocity">40</param>
        <param name="Profile Acceleration">20</param>
        <param name="Position P Gain">800</param>
        <param name="Position I Gain">100</param>
        <param name="Position D Gain">100</param>
        <param name="Return Delay Time">0</param>
        <param name="Drive Mode">0</param>
      </gpio>

      <gpio name="dxl26">
        <param name="type">dxl</param>
        <param name="ID">26</param>
        <state_interface name="Present Position"/>
        <state_interface name="Present Velocity"/>
        <!--<state_interface name="Present Current"/> -->
        <param name="Operating Mode">3</param>
        <param name="Profile Velocity">40</param>
        <param name="Profile Acceleration">20</param>
        <param name="Position P Gain">800</param>
        <param name="Position I Gain">100</param>
        <param name="Position D Gain">100</param>
        <param name="Return Delay Time">0</param>
        <param name="Drive Mode">0</param>
      </gpio>

      <gpio name="dxl27">
        <param name="type">dxl</param>
        <param name="ID">27</param>
        <state_interface name="Present Position"/>
        <state_interface name="Present Velocity"/>
        <!--<state_interface name="Present Current"/> -->
        <param name="Operating Mode">3</param>
        <param name="Profile Velocity">40</param>
        <param name="Profile Acceleration">20</param>
        <param name="Position P Gain">800</param>
        <param name="Position I Gain">100</param>
        <param name="Position D Gain">100</param>
        <param name="Return Delay Time">0</param>
        <param name="Drive Mode">0</param>
      </gpio>

    </ros2_control>
  </xacro:macro>

</robot>
