controller_manager:
  ros__parameters:
    update_rate: 100  # Hz, Dynamixel + ros2_control

    waist_position_controller:
      type: joint_trajectory_controller/JointTrajectoryController

    joint_state_broadcaster:
      type: joint_state_broadcaster/JointStateBroadcaster

waist_position_controller:
  ros__parameters:
    joints:
      - waist_joint

    # Per il tuo hardware ha senso usare solo posizione
    command_interfaces:
      - position

    state_interfaces:
      - position
      - velocity

    # Parametri specifici del JT controller
    allow_partial_joints_goal: false          # così rifiuta goal "strani" con joint mancanti
    allow_nonzero_velocity_at_trajectory_end: false  # togli il warning e ti assicuri che arrivi fermo

    constraints:
      # tempo massimo per raggiungere il goal, altrimenti il goal fallisce
      goal_time: 1.0

      # tolleranza sulla velocità a fine traiettoria per considerare "stopped"
      stopped_velocity_tolerance: 0.01

    # Frequenze interne del controller
    state_publish_rate: 50.0   # Hz: quanto spesso pubblica /state
    action_monitor_rate: 20.0  # Hz: monitoraggio stato delle action (default 10Hz)




