controller_manager:
  ros__parameters:
    update_rate: 100  # Hz

    waist_position_controller:
      type: joint_trajectory_controller/JointTrajectoryController

    joint_state_broadcaster:
      type: joint_state_broadcaster/JointStateBroadcaster

waist_position_controller:
  ros__parameters:
    joints:
      - waist_joint

    command_interfaces:
      - position

    state_interfaces:
      - position
      - velocity

    # Traj. limits molto laschi per demo
    constraints:
      stopped_velocity_tolerance: 0.01
      goal_time: 1.0
    state_publish_rate: 50.0
    action_monitor_rate: 10.0
